//Gameboy-CSS con pug
.gameboy 
    .screen-cont 
        .power 
        .screen 
            header DOT MATRIX WITH STEREO SOUND 
            .animated-text Nintentdo 
                .copy ®
        .controls-cont 
            .btn-direction 
                .vertical 
                .horizontal
            .btn-AB 
            .btn-start-select 
        .speakers 
        